@model MTracking.Models.Bug

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<script>
    function changeStatus()
    {
        $.ajax({
            method: "GET",
            url: "/Bug/ChangeStatus",
            data:{
                statusId: $('#BugStatusId').val(),
                bugId: @Model.Id,
            },
            error: function () { alert('error'); }
        });
    }

    function changeUser()
    {
        $.ajax({
            method: "GET",
            url: "/Bug/ChangeAssignedUser",
            data:{
                userId: $('#UserId').val(),
                bugId: @Model.Id,
            },
            error: function () { alert('error'); }
        });
    }
</script>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BugStatus.Status)
        </dt>

        <dd>
            @Html.DropDownList("BugStatusId",
               (ViewBag.Statuses as IEnumerable<MTracking.Models.dic_BugStatuses>).Select(i => new SelectListItem() { Text = i.Status, Value = i.Id.ToString() }),
               null
               , htmlAttributes: new { @class = "form-control", onchange = "changeStatus()" })
        </dd>

        <br />

        <dt>
            @Html.DisplayName("Assigned to")
        </dt>

        <dd>
            <div class="form-group">
                @Html.DropDownList("UserId",
                       (ViewBag.Users as IEnumerable<MTracking.Models.User>).Select(i => new SelectListItem() { Text = i.FirstName + " " + i.LastName, Value = i.Id.ToString() }),
                       "Select user to assign for this bug"
                       , htmlAttributes: new { @class = "form-control", onchange = "changeUser()" })
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReproductionSteps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReproductionSteps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualResult)
        </dd>

    </dl>
</div>
<p>
    <a href="/Project/Details/@Model.ProjectId?tab=/Bug/BugsPartial">Back</a>
</p>
