@model MTracking.Models.Project

<table class="table">
    <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Country</th>
    </tr>
    @foreach (var i in Model.Users)
    {
        <tr>
            <td>@i.FirstName @i.LastName</td>
            <td>@(i.Company?.Name)</td>
            <td>@(i.Country?.Name)</td>
        </tr>
    }
</table>

<form method="post" action="/Project/AddTeamToProject">
    <div class="row">
        <div class="col-md-3">
            @Html.DropDownList("userId",
               (ViewBag.Users as IEnumerable<MTracking.Models.User>)
               .Select(i => new SelectListItem() { Text = i.FirstName + " " + i.LastName, Value = i.Id.ToString() }),
               new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <button class="btn btn-default" @((ViewBag.Users as IEnumerable<MTracking.Models.User>).Count() == 0 ? "disabled='disabled'" : "")  type="submit">Add</button>
        </div>
    </div>

    <input type="hidden" value="@Model.Id" name="projectId" />

</form>

