@model MTracking.Models.User

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<script>
    function validate() {
        //alert('infn');
        return true;
    }
</script>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { onsubmit = "validate()", enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Confirm password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("password2", new { htmlAttributes = new { @class = "form-control", type = "password" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Country", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CountryId",
               (ViewBag.Countries as IEnumerable<MTracking.Models.dic_Countries>).Select(i => new SelectListItem() { Text = i.Name, Value = i.Id.ToString() }),
               new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusId",
               (ViewBag.Statuses as IEnumerable<MTracking.Models.dic_Statuses>).Select(i => new SelectListItem() { Text = i.Status, Value = i.Id.ToString() }),
               new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Company", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CompanyId",
               (ViewBag.Companies as IEnumerable<MTracking.Models.Company>).Select(i => new SelectListItem() { Text = i.Name, Value = i.Id.ToString() }),
               "Select a company",  
               new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Avatar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="avatar"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Info, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Info, new { @class = "form-control", rows = 5 })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>
